/* Estilos para el formulario de inicio de sesión */
#login-form {
    /* Establece el contenedor del formulario como un contenedor flexible */
    display: flex;
    /* Asegura que los elementos fluyan verticalmente dentro del contenedor */
    flex-direction: column;
    /* Espacio entre los elementos hijos del contenedor */
    gap: 10px;
    /* Asegura que el formulario ocupe todo el ancho disponible */
    width: 100%;
    /* Añade un relleno alrededor del formulario */
    padding: 20px;
}


/* Estilos para los botones dentro del formulario de inicio de sesión */
#login-form button {
    /* Permite que los botones crezcan para ocupar el espacio disponible */
    flex-grow: 1;
    /* Asegúrate de que los botones ocupen todo el ancho disponible */
    width: 100%;
}


/* Estilos para el elemento con la clase 'Titulo' */
.Titulo {
    /* Centra el texto dentro del elemento */
    text-align: center;
    /* Elimina el margen inferior */
    margin-bottom: 0;
    /* Agrega un espacio de relleno en la parte superior */
    padding-top: 20px;
}


/* Estilos de los iconos de mesa de ping-pong */
.fas.fa-table-tennis {
    /* Tamaño del icono */
    font-size: 1.2em;
    /* Color del icono */
    color: white;
    /* Margen a la derecha para separar el icono de otros elementos */
    margin-right: 5px;
}